{{ partial "header.html" . }}

<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">MENU</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;RSS訂閱</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;RSS訂閱</a>
            {{end}}
        {{end}}
    </nav>
</header>

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">肆零肆．斷簡殘篇</h1>
        </header>
        <p>很遺憾，您欲訪問的篇章似已亡佚，也許根本不曾存在。</p>
        <p>還請回<a href="/">札記封面</a>，再尋新緣。</p>
    </article>
</main>

{{ partial "footer.html" . }}